<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show The Quotes</title>
    <style>

    </style>
</head>
<body>
    <header>
        <a href="/vote-a-quote">Vote</a>
        <a href="#">Legal</a>
        <a href="#">Source</a>
        <a href="#">Sitemap</a>
    </header>
    <main>
        <!-- display random quotes from 'all_quote_images', starting with trending (this part wil come later)-->
        <!-- infinite scroll -->
        <!-- 100vh, main will be scrollable due to overflow -->
    </main>
</body>
</html>